{% extends "base.html" %}
{% block content %}
<div class="ui relaxed horizontal list">
  {% for tag in tags %}
  <div class="item">
    <div class="content">
      <a class="header" href="{{ url_for('tag.view', tag=tag.id) }}">{{ tag.name }}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
