{% extends "base.html" %}
{% set title = 'New Issue' %}
{% block content %}
    <h1 class="ui header">New Issue</h1>

<form class="ui form{% if form.errors %} error{% endif %}" method="post">
    {% if form.errors %}
        <div class="ui error message">
            <div class="header">Error Creating Issue</div>
            <ul>
                {% for field in form.flattened_errors %}
                    {% for error in form.flattened_errors[field] %}
                        <li>{{ field.capitalize() }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

  {{ form.csrf_token() }}
  <div class="ui fluid styled accordion">
      <div class="title active">
          <i class="dropdown icon"></i>
          Issue Information
      </div>
      <div class="content active">
          <div class="transition visible">
            <div class="fields">
                  <div class="fifteen wide required field{% if form.errors.title %} error{% endif %}">
                      <label for="title">Title</label>
                      <input type="text" id="title" name="title" placeholder="Title" maxlength="200" required>
                  </div>
              </div>

              <div class="fields">

                  <div class="three wide required field{% if form.errors.status %} error{% endif %}">
                      <label for="status">Status</label>
                      {{ form.status(class_='ui dropdown') }}
                  </div>

                  <div class="one wide field"></div>

                  <div class="three wide required field{% if form.errors.category %} error{% endif %}">
                      <label for="category">Category</label>
                      {{ form.category(class_='ui fluid search selection dropdown') }}
                  </div>

                  <div class="one wide field"></div>

                  <div class="three wide field{% if form.errors.severity %} error{% endif %}">
                      <label for="severity">Severity</label>
                      {{ form.severity(class_='ui fluid search selection dropdown') }}
                  </div>

                  <div class="one wide field"></div>

                  <div class="three wide field{% if form.errors.assigned_to %} error{% endif %}">
                      <label for="assigned">Assigned To</label>
                      {{ form.assigned_to(class_='ui fluid search selection dropdown') }}
                  </div>
              </div>
          </div>
          <div class="fifteen wide field{% if form.errors.tags %} error{% endif %}" id="tag_container">
              <label for="tags">Tags</label>
              {{ form.tags(class_='ui fluid search dropdown') }}
          </div>
          <div class="ui fifteen wide field{% if form.errors.description %} error{% endif %}">
              <label for="description">Description</label>
              <textarea id="description" name="description"></textarea>
          </div>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        References
      </div>
      <div class="content">
        <div class="transition hidden">
            <table id="reference_table" class="ui table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Reference</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="reference_row">
                        <td class="three wide">
                            <div class="field">
                                <select class="ui dropdown ignore" id="reference_select">
                                    <option value="0">Issue</option>
                                    <option value="1">Invoice</option>
                                    <option value="2">Order</option>
                                    <option value="3">QR Code</option>
                                    <option value="4">Serial Number</option>
                                </select>
                            </div>
                        </td>
                        <td class="five wide">
                            <div class="field">
                                <div class="ui fluid search" id="reference_issue_search">
                                    <input class="prompt" type="text" placeholder="Issue...">
                                    <div class="results"></div>
                                </div>
                                <input type="text" id="reference_field" placeholder="Reference">
                            </div>
                        </td>
                        <td>
                            <button class="ui icon button">
                                <i class="plus circle icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
      <div class="title">
        <i class="dropdown icon"></i>
        Contact Information
      </div>
      <div class="content">
        <div class="transition hidden">
            <div class="fields">
                <div class="four wide field">
                    <label for="company_name">Company Name</label>
                    <input type="text" name="company_name" id="contact_company">
                </div>

                <div class="four wide field">
                    <label for="company_person">Name</label>
                    <input type="text" name="contact_name" id="company_person">
                </div>
                <div class="four wide field">
                    <label for="company_email">Email Address</label>
                    <input type="email" name="contact_email" id="company_email">
                </div>

                <div class="four wide field">
                    <label for="company_number">Phone Number</label>
                    <input type="text" name="contact_phone" id="company_number">
                </div>
            </div>
        </div>
      </div>
  </div>
  <br>
  <button type="submit" class="large positive ui button">Create Issue</button>
</form>
{% endblock %}
{% block script %}
<script>
var references = {};
var reference_keys = [];

$('#tag_container .dropdown').dropdown({
    allowAdditions: true,
    forceSelection: false,
    onLabelCreate: function(value, text) {
        $(this)[0].childNodes[0].textContent = text.toLocaleLowerCase();
        return this;
    }
});

var issue_result = {};

$("#reference_issue_search").search({
    apiSettings: {
        url: "/api/1/issue/search?query={query}"
    },
    minCharacters: 2,
    showNoResults: true,
    onSelect: function(result) {
        issue_result.result = result;
        $("#reference_row .button").click();
    }

});

$("#reference_select").dropdown({
    onChange: function(value, text, choice) {
        if (value === 'issue') {
            $("#reference_issue_search").show();
            $("#reference_field").hide();
        } else {
            $("#reference_issue_search").hide();
            $("#reference_field").show();
        }
    }
});

$("#reference_select").dropdown('set selected', 'issue');
$("#reference_issue_search").search('set value', '').show();
$("#reference_field").hide();

$("#reference_row .button").on({
    'click': function(e) {
        e.preventDefault();

        var type_label = $("#reference_select").dropdown('get text');
        var type = $("#reference_select").dropdown('get value');
        var text = '';
        var value = '';

        if (type === '0') {
            if (issue_result.result) {
                text = issue_result.result.title;
                value = issue_result.result.id;
            }
            $("#reference_issue_search").search('set value', '');
        } else {
            text = value = $("#reference_field").val();
        }

        if (!value) {
            return;
        }

        var button = $('<button class="ui icon button"><i class="minus circle icon"></i></button>');
        var tr = $("<tr></tr>");
        tr.prop('data-id', Math.random());

        button.on({
            'click': function() {
                delete references[tr.prop('data-id')];
                reference_keys.splice(reference_keys.indexOf(tr.prop('data-id')), 1);
                tr.remove();
            }
        });

        var tdA = $("<td>" + type_label + "</td>");
        var tdB = $("<td>" + text + "</td>");
        var tdC = $("<td></td>");
        tdC.append(button);
        tr.append(tdA, tdB, tdC);
        $("#reference_table").append(tr);
        $("#reference_field").val('');
        $("#reference_issue_search").search('set value', '');
        references[tr.prop('data-id')] = {
            type: type,
            value: value,
        }
        reference_keys.push(tr.prop('data-id'));
    }
});

$("form").on({
    'submit': function() {
        // Create the nested form for the references
        for (var i = 0; i < reference_keys.length; i++) {
            var reference = references[reference_keys[i]];

            var input1 = $("<input>");
            input1.attr('type', 'hidden');
            input1.attr('name', 'references-' + i + '-reference_type');
            input1.attr('value', reference.type);

            var input2 = $("<input>");
            input2.attr('type', 'hidden');
            input2.attr('name', 'references-' + i + '-value');
            input2.attr('value', reference.value);

            $("form").append(input1, input2);
        }
    }
})
</script>
{% endblock %}
