{% extends "base.html" %}
{% import 'issue/render_table.html' as table %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.semanticui.min.css">
{% endblock %}
{% block content %}
    <h1 class="ui header">Issues</h1>
    {{ table.render_table(issues) }}
{% endblock %}
{% block script %}
 <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
 <script src="https://cdn.datatables.net/1.10.20/js/dataTables.semanticui.min.js"></script>
 <script>
    $(document).ready(function() {
        $("#issueTable").DataTable();
    });
 </script>
{% endblock %}
