{% macro render_table(issues) %}
    <table class="ui celled table" id="issueTable" style="font-size: small;" data-order='[[7, "asc"], [5, "desc"]]' data-searching="false" data-page-length="25">
        <thead>
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Status</th>
                <th>Category</th>
                <th>Severity</th>
                <th>Last Modified</th>
                <th>Assigned To</th>
                <th style="display: none;"></th>
            </tr>
        </thead>
        {% for issue in issues %}
        <tr class="{{ issue.status.colour_name }}" {% if issue.status.closes %}style="text-decoration: line-through;"{% endif %}>
            <td data-order="{{ issue.id }}">{{ issue.formatted_id }}</td>
            <td data-order="{{ issue.title }}"><a href="{{ url_for('issue.view', issue=issue.id) }}">{{ issue.title }}</a></td>
            <td data-order="{{ issue.status.priority }}">{{ issue.status.name }}</td>
            <td>{{ issue.category.name }}</td>
            <td data-order="{{ issue.severity.priority }}">{{ issue.severity.name }}</td>
            <td data-order="{{ issue.updated.timestamp() }}">{{ issue.updated | datetime }}</td>
            <td>{{ issue.assigned_to.name }}</td>
            <td style="display: none;">{{ issue.status.closes }}</td>
        </tr>
        {% endfor %}
    </table>
{% endmacro %}
