{% extends "base.html" %}
{% set title = issue.formatted_title %}
{% block content %}
    {% if form.errors %}
    <div class="ui negative message">
        There were errors updating the issue:
        <ul>
            {% for field, error in form.flattened_errors.items() %}
                <li>{{ field.capitalize() }}
                    {% if error.length == 1 %}
                        : {{ form.flattened_errors[field][0] }}
                    {% else %}
                        <ul>
                            {% for err in form.flattened_errors[field] %}
                                <li>{{ err }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="ui grid">
        <div class="row">
            <div class="twelve wide column">
                <h1 class="ui header">
                    <div class="content">
                        <a
                          href="{{ url_for('category.view', category=issue.category.id) }}"
                          class="ui category ribbon label large"
                        >{{ issue.category.name.capitalize() }}</a>
                        <div>
                            #{{ issue.formatted_id }}: {{ issue.title }}
                            <div class="ui {{ issue.status.colour_name }} buttons" style="vertical-align: middle">
                                <div class="ui top left pointing dropdown button" id="change_status_dropdown">
                                    <span class="text">{{ issue.status.name }}</span>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        {% for status in statuses %}
                                            <div class="item" data-id="{{ status.id }}">{{ status.name }}</div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="sub header" style="padding-top: 4px;">
                                {% for tag in issue.tags %}
                                    <a
                                      href="{{ url_for('tag.view', tag=tag.id) }}"
                                      class="ui {{ tag.colour.code }} tag label tiny"
                                    >{{ tag.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </h1>
            </div>
            <div class="four wide column" style="display: flex; justify-content: center; align-items: center;">
                <div class="ui big labeled icon button" id="edit_button"><i class="edit icon"></i> Edit</div>
            </div>
        </div>
    </div>

    <div class="ui grid">
        <div class="row">
            <div class="twelve wide column">
                <div class="ui segment">
                    <p>{{ issue.description }}</p>
                </div>

                <h4 class="ui dividing header">Comments</h4>
                <div class="ui comments" style="max-width: 100%">
                    {% for history in issue.history %}
                        {% if history.comment %}
                            {% set comment = history.comment %}
                            <div class="comment">
                                <a class="avatar" href="{{ url_for('user.view', user=comment.user.id) }}">
                                    <i class="user circle {{ comment.user.colour }} icon" style="width: 50px; font-size: 2em;"></i>
                                </a>
                                <div class="content">
                                    <a class="author">{{ comment.user.name }}</a>
                                    <div class="metadata">
                                        <span class="date">{{ comment.created | datetime(format='timeago') }}</span>
                                    </div>
                                    <div class="text">{{ comment.message | markdown }}</div>
                                </div>
                            </div>
                        {% elif history.log %}
                            {% set log = history.log %}
                            <div class="comment" style="text-align: center">
                                <div class="content">
                                    <div class="metadata">
                                        <div class="date">{{ log.created | datetime(format='timeago') }}</div>
                                        <div class="label">
                                            {% if log.action == log.actions.ADDED %}
                                                {{ log.user.name }} added {{ log.property }}: {{ log.new_value }}
                                            {% elif log.action == log.actions.CHANGED %}
                                                {% if log.property.startswith('contact') %}
                                                    {{ log.user.name }} changed contact information
                                                {% elif log.property.startswith('references') %}
                                                    {{ log.user.name }} changed references
                                                {% else %}
                                                    {{ log.user.name }} changed {{ log.property }}: {{ log.old_value }} -> <strong>{{ log.new_value }}</strong>
                                                {% endif %}
                                            {% else %}
                                                {{ log.user.name }} removed {{ log.property }}: {{ log.old_value }}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <h4 class="ui dividing header"><label for="comment">Response</label></h4>

                    <form class="ui reply form" method="post" id="form">
                        <div style="display: none;">
                            {% for field in form %}
                                {% if field.name not in ['comments', 'status', 'references'] %}
                                {% if field.type == 'ModelFieldList' %}
                                    {% for nested in field %}
                                        {{ nested() }}
                                    {% endfor %}
                                {% else %}
                                    {{ field() }}
                                {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% for reference in issue.references %}
                                <input type="hidden" name="references-{{ loop.index0 }}-id" value="{{ reference.id }}">
                                <input type="hidden" name="references-{{ loop.index0 }}-reference_type" value="{{ reference.reference_type.value }}">
                                <input type="hidden" name="references-{{ loop.index0 }}-value" value="{{ reference.value }}">
                            {% endfor %}
                        </div>
                        <div class="field">
                            <textarea id="comment" name="{{ form.comments.name }}-0-message"></textarea>
                        </div>
                        <button class="ui primary submit labeled icon button" type="submit">
                            <i class="icon edit"></i> Reply
                        </button>

                        <label style="display: none" for="change_issue_dropdown">Status</label>
                        <select class="ui dropdown" id="change_issue_dropdown" name="status">
                            {% for status in statuses %}
                                <option value="{{ status.id }}">{{ status.name.capitalize() }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>

            <div class="four wide column">
                <div class="ui one cards">
                    <div class="card">
                        <div class="content">
                            <div class="header">Details</div>
                            <div class="ui middle aligned selection list tiny">
                                {% if issue.severity %}
                                    <div class="item">Severity is <strong>{{ issue.severity.name }}</strong></div>
                                {% endif %}
                                {% if issue.assigned_to %}
                                    <a href="{{ url_for('user.view', user=issue.assigned_to.id) }}" class="item">
                                        Assigned to <strong>{{ issue.assigned_to.name }}</strong>
                                    </a>
                                {% else %}
                                    <div class="item">
                                        <span class="ui red text">
                                            <i class="exclamation triangle icon"></i> Not Assigned</span>
                                    </div>
                                {% endif %}
                                <a href="{{ url_for('user.view', user=issue.reported_by.id) }}" class="item">
                                    Reported by <strong>{{ issue.reported_by.name }}</strong>
                                </a>
                                <div class="item">Added on <strong>{{ issue.created | datetime }}</strong></div>
                                <div class="item">Modified on <strong>{{ issue.updated | datetime}}</strong></div>
                            </div>
                            {% if issue.has_contact_information %}
                            <h5 class="ui dividing header">Contact Information</h5>
                            <div class="ui middle aligned selection list tiny">
                                {% if issue.contact_company %}
                                <a
                                    href="{{ url_for('issue.search', query='contact:' + issue.contact_company) }}"
                                    class="item"
                                >{{ issue.contact_company }}</a>
                                {% endif %}
                                {% if issue.contact_name %}
                                <div class="item">{{ issue.contact_name }}</div>
                                {% endif %}
                                {% if issue.contact_phone %}
                                  <a class="item" href="tel:{{ issue.contact_phone }}">{{ issue.contact_phone }}</a>
                                {% endif %}
                                {% if issue.contact_email %}
                                  <a class="item" href="mailto:{{ issue.contact_email }}">{{ issue.contact_email }}</a>
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    {% if issue.references %}
                    <div class="card">
                        <div class="content">
                            <div class="header">References</div>
                            <div class="ui middle aligned selection list tiny">
                                {% for reference in issue.references %}
                                    <div class="item" title="{{ reference.type_title }}">
                                        {% if reference.reference_type == ReferenceType.ISSUE %}
                                            <i class="bug icon"></i>
                                            <a class="content" href="{{ url_for('issue.view', issue=reference.value) }}">
                                                    {{ reference.value | referenceissue | renderissue | safe }}
                                            </a>
                                        {% elif reference.reference_type == ReferenceType.INVOICE %}
                                            <i class="file icon"></i>
                                            <div class="content">{{ reference.value }}</div>
                                        {% elif reference.reference_type == ReferenceType.ORDER %}
                                            <i class="box icon"></i>
                                            <div class="content">{{ reference.value }}</div>
                                        {% elif reference.reference_type == ReferenceType.QRCODE %}
                                            <i class="qrcode icon"></i>
                                            <div class="content">
                                                {{ reference.value }}
                                                <a href="https://waretrace.com/qr/{{ reference.value }}" target="_blank">
                                                    <i class="external icon"></i>
                                                </a>
                                            </div>
                                        {% elif reference.reference_type == ReferenceType.SERIAL %}
                                            <i class="hashtag icon"></i>
                                            <div class="content">{{ reference.value }}</div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    {% if issue.referenced %}
                    <div class="card">
                        <div class="content">
                            <div class="header">Referenced By</div>
                            <div class="ui middle aligned selection list tiny">
                                {% for referenced in issue.referenced %}
                                    <div class="item">
                                        <i class="bug icon"></i>
                                        <a class="content" href="{{ url_for('issue.view', issue=referenced.id) }}">
                                            {{ referenced | renderissue | safe }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
<div class="ui top aligned modal" id="edit_modal">
  <div class="header">Edit Issue</div>
  <div class="content">
      <form method="post" class="ui form" id="edit_modal_form">
          {{ form.csrf_token() }}
          <div class="fields">
              <div class="fifteen wide required field{% if form.errors.title %} error{% endif %}">
                  <label for="title">Title</label>
                  <input type="text" name="title" placeholder="Title" maxlength="200" value="{{ issue.title }}" required>
              </div>
          </div>
          <div class="fields">
              <div class="three wide required field{% if form.errors.status %} error{% endif %}">
                  <label for="status">Status</label>
                  {{ form.status(class_='ui dropdown', id='xx-status') }}
              </div>

              <div class="one wide field"></div>

              <div class="three wide required field{% if form.errors.category %} error{% endif %}">
                  <label for="category">Category</label>
                  {{ form.category(class_='ui fluid search selection dropdown', id='xx-category') }}
              </div>

              <div class="one wide field"></div>

              <div class="three wide field{% if form.errors.severity %} error{% endif %}">
                  <label for="severity">Severity</label>
                  {{ form.severity(class_='ui fluid search selection dropdown', id='xx-severity') }}
              </div>

              <div class="one wide field"></div>

              <div class="three wide field{% if form.errors.assigned_to %} error{% endif %}">
                  <label for="assigned">Assigned To</label>
                  {{ form.assigned_to(class_='ui fluid search selection dropdown', id='xx-assigned_to') }}
              </div>
          </div>
      <div class="fifteen wide field{% if form.errors.tags %} error{% endif %}" id="tag_container">
          <label for="tags">Tags</label>
          {{ form.tags(class_='ui fluid search dropdown', id='xx-tags') }}
      </div>
      <div class="fields">
          <div class="four wide field">
              <label for="xx-contact_company">Company Name</label>
              {{ form.contact_company(id='xx-contact_company') }}
          </div>
          <div class="four wide field">
              <label for="xx-contact_person">Name</label>
              {{ form.contact_name(id='xx-contact_person') }}
          </div>
          <div class="four wide field">
              <label for="xx-contact_email">Email Address</label>
              {{ form.contact_email(id='xx-contact_email') }}
          </div>
          <div class="four wide field">
              <label for="xx-contact_phone">Phone Number</label>
              {{ form.contact_phone(id='xx-contact_phone') }}
          </div>
      </div>
      <h5>References</h5>
        <table id="reference_table" class="ui table">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Reference</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr id="reference_row">
                    <td class="three wide">
                        <div class="field">
                            <select class="ui dropdown ignore" id="reference_select">
                                <option value="0">Issue</option>
                                <option value="1">Invoice</option>
                                <option value="2">Order</option>
                                <option value="3">QR Code</option>
                                <option value="4">Serial Number</option>
                            </select>
                        </div>
                    </td>
                    <td class="five wide">
                        <div class="field">
                            <div class="ui fluid search" id="reference_issue_search">
                                <input class="prompt" type="text" placeholder="Issue...">
                                <div class="results"></div>
                            </div>
                            <input type="text" id="reference_field" placeholder="Reference">
                        </div>
                    </td>
                    <td>
                        <button class="ui icon button">
                            <i class="plus circle icon"></i>
                        </button>
                    </td>
                </tr>
                {% for reference in issue.references %}
                <tr class="reference_entry">
                    <td>{{ reference.type_title }}</td>
                    <td>
                        {% if reference.reference_type == ReferenceType.ISSUE %}
                            {{ reference.value | referenceissue | renderissue | safe }}
                        {% else %}
                            {{ reference.value }}
                        {% endif %}
                    </td>
                    <td>
                        <input type="hidden" class="data-id" name="references-{{ loop.index0 }}-id" value="{{ reference.id }}">
                        <input type="hidden" class="data-type" name="references-{{ loop.index0 }}-reference_type" value="{{ reference.reference_type.value }}">
                        <input type="hidden" class="data-value" name="references-{{ loop.index0 }}-value" value="{{ reference.value }}">
                        <button class="ui icon button"><i class="minus circle icon"></i></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" style="display: none;" id="submit_edit_button">Save</button>
    </form>
  </div>
  <div class="actions">
    <div class="ui button" id="edit_modal_cancel">Cancel</div>
    <div class="ui primary button" id="edit_modal_save">Save Changes</div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
    $("#change_issue_dropdown").dropdown({
        clearable: true,
        placeholder: "Change Status",
        forceSelection: false,
    }).dropdown('clear');

    $("#change_status_dropdown .item").on({
        'click': function () {
            $("#comment").attr('name', '');
            $("#change_issue_dropdown").dropdown('set selected', $(this).attr('data-id'));
            $("#form").submit();
        }
    });

    $("#form").on({
        'submit': function () {
            var comment = $("#comment");
            if (!comment.val() || comment.val().length === 0) {
                comment.attr('name', '');
            }
        }
    });

    $("#edit_button").on({
        'click': function() {
            $("#edit_modal").modal('show');
        }
    });

    $("#edit_modal_cancel").on({
        'click': function() {
            $("#edit_modal").modal('hide');
        }
    });

    $("#edit_modal_save").on({
        'click': function() {
            $("#submit_edit_button").click();
        }
    });

    $("#edit_modal_form").on({
        'submit': function() {
            recalculateReference();
        }
    })

    var issue_result = {};

    $("#reference_issue_search").search({
        apiSettings: {
            url: "/api/1/issue/search?query={query}"
        },
        minCharacters: 2,
        showNoResults: true,
        onSelect: function(result) {
            issue_result.result = result;
            $("#reference_row .button").click();
        }

    });

    $("#reference_select").dropdown({
        onChange: function(value, text, choice) {
            if (value === 'issue') {
                $("#reference_issue_search").show();
                $("#reference_field").hide();
            } else {
                $("#reference_issue_search").hide();
                $("#reference_field").show();
            }
        }
    });

    $("#reference_select").dropdown('set selected', 'issue');
    $("#reference_issue_search").search('set value', '').show();
    $("#reference_field").hide();

    function recalculateReference() {
        for (var i = 0; i < $(".reference_entry").length; i++) {
            var reference_entry = $($(".reference_entry")[i]);
            reference_entry.find('.data-id').attr('name', 'references-' + i + '-id');
            reference_entry.find('.data-type').attr('name', 'references-' + i + '-reference_type');
            reference_entry.find('.data-value').attr('name', 'references-' + i + '-value');
        }
    }

    $(".reference_entry .button").on({
        'click': function(e) {
            e.preventDefault();
            $(this).closest('.reference_entry').remove();
        }
    });

    $("#reference_row .button").on({
        'click': function(e) {
            e.preventDefault();

            var type_label = $("#reference_select").dropdown('get text');
            var type = $("#reference_select").dropdown('get value');
            var text = '';
            var value = '';

            if (type === '0') {
                if (issue_result.result) {
                    text = issue_result.result.title;
                    value = issue_result.result.id;
                }
            } else {
                text = value = $("#reference_field").val();
            }

            if (!value) {
                return;
            }

            var button = $('<button class="ui icon button"><i class="minus circle icon"></i></button>');
            var tr = $("<tr class='reference_entry'></tr>");

            button.on({
                'click': function() {
                    tr.remove();
                }
            });

            var tdA = $("<td>" + type_label + "</td>");
            var tdB = $("<td>" + text + "</td>");
            var tdC = $("<td></td>");
            tdC.append(button);
            tr.append(tdA, tdB, tdC);
            $("#reference_table").append(tr);
            $("#reference_field").val('');
            $("#reference_issue_search").search('set value', '');

            var input1 = $("<input class='data-id'>");
            input1.attr('type', 'hidden');
            input1.attr('name', 'references-id');
            input1.attr('value', '');

            var input1 = $("<input class='data-type'>");
            input1.attr('type', 'hidden');
            input1.attr('name', 'references-reference_type');
            input1.attr('value', type);

            var input2 = $("<input class='data-value'>");
            input2.attr('type', 'hidden');
            input2.attr('name', 'references-value');
            input2.attr('value', value);

            $(tdC).append(input1, input2);
        }
    });
</script>
{% endblock %}
