{% extends "base.html" %}
{% block content %}
    <h1 class="ui header">Categories</h1>
    <div class="ui middle aligned selection list">
      {% for category in categories %}
          <a class="item" href="{{ url_for('category.view', category=category.id) }}">
            <div class="content">
              <div class="header">{{ category.name }}</div>
            </div>
          </a>
      {% endfor %}
    </div>
{% endblock %}
