{% extends "base.html" %}
{% block content %}
    <h1 class="ui header">Admin Settings</h1>
    <h2 class="ui dividing header">Create Tags</h2>
    <form class="ui form" method="post">
        {% for field in form %}
            {{ field }}
        {% endfor %}
        <br><br>
        <button class="ui button" type="submit">Create Tag</button>
    </form>
{% endblock %}
