<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <title>{% if title %}{{ title }} - {% endif %}RepairTracker</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.css">
  {% block head %}{% endblock %}
  <style type="text/css">
  html {
      font-size: 12px;
  }
  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }

  .ui.header .category.label {
      margin-left: 0;
      margin-bottom: 4px;
  }

  .ui.search .results .content {
      padding: 0 !important;
  }

  .ui.search .results .content .title {
      margin: -.14285714em 0 0 !important;;
      font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif !important;;
      font-weight: 700 !important;;
      font-size: 1em !important;;
      color: rgba(0, 0, 0, .85) !important;
      padding: .5em 0 !important;
      border: none !important;
  }


  .main.container {
    margin-top: 5em;
  }
  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }
  .issue.closed {
      text-decoration: line-through;
  }
  </style>
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="{{ url_for('dashboard.index') }}" class="header item">
          <span class="logo">
              <i class="wrench icon"></i>
          </span>
        RepairTracker
      </a>
      <a href="{{ url_for('dashboard.index') }}" class="item">Home</a>
      <a href="{{ url_for('issue.overview') }}" class="item">Issues</a>
      <a href="{{ url_for('category.overview') }}" class="item">Categories</a>
      <a href="{{ url_for('tag.overview') }}" class="item">Tags</a>
      {% if current_user.admin %}
          <a href="{{ url_for('admin.view') }}" class="item">Admin</a>
      {% endif %}
      <div class="right item">
          <form class="ui action input search" id="header_search">
            <div class="ui icon input">
                <input class="prompt" value="" type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
            <div class="results"></div>
          </form>
      </div>
        <div class="item">
            <a class="ui labeled icon primary button" href="{{ url_for('issue.create') }}">
                <i class="plus icon"></i>
                New Issue
            </a>
        </div>

        <div class="item">
            <a href="{{ url_for('user.edit_user') }}">
                <i class="icon user circle"></i>
                {{ current_user.name }}
            </a>
        </div>
    </div>
  </div>

  <div class="ui main container">
      {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            <div class="ui negative message">{%- for msg in errors %}{{ msg }}{% endfor -%}</div>
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
  </div>

  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        &copy; 2019 Repair Tracker
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.3/dist/semantic.min.js"></script>
<script>
$(document).ready(function() {
    $('.ui.dropdown:not(.ignore)').dropdown();
    $('.ui.accordion').accordion();
    $('.ui.modal').modal();


    $("#header_search").search({
        apiSettings: {
            url: "/api/1/issue/search?query={query}"
        },
        minCharacters: 2,
        showNoResults: true,
        onSelect: function(result) {
            if (result) {
                window.location = '/issue/' + result.id;
            }
        }
    }).search('set value', '');
});
</script>
{% block script %}{% endblock %}
</body>
</html>
