{% extends "base.html" %}
{% block content %}
    <h1 class="ui header">Dashboard</h1>
    <div class="ui grid">
        <div class="ui eight wide column">
            <div class="ui segment">
                <h2 class="ui header">Unassigned Issues</h2>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Modified</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    {% for issue in unassigned_issues %}
                    <tr>
                        <td><a href="{{ url_for('issue.view', issue=issue.id) }}">{{ issue | renderissue | safe }}</a></td>
                        <td>{{ issue.updated | datetime }}</td>
                        <td>{{ issue.age }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="ui eight wide column">
            <div class="ui segment">
                <h2 class="ui header">Assigned To Me</h2>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Modified</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    {% for issue in assigned_issues %}
                    <tr>
                        <td><a href="{{ url_for('issue.view', issue=issue.id) }}">{{ issue | renderissue | safe }}</a></td>
                        <td>{{ issue.updated | datetime }}</td>
                        <td>{{ issue.age }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="ui eight wide column">
            <div class="ui segment">
                <h2 class="ui header">Reported By Me</h2>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Modified</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    {% for issue in reported_issues %}
                    <tr>
                        <td><a href="{{ url_for('issue.view', issue=issue.id) }}">{{ issue | renderissue | safe }}</a></td>
                        <td>{{ issue.updated | datetime }}</td>
                        <td>{{ issue.age }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="ui eight wide column">
            <div class="ui segment">
                <h2 class="ui header">Oldest Open Issues</h2>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Modified</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    {% for issue in oldest_opened %}
                    <tr>
                        <td><a href="{{ url_for('issue.view', issue=issue.id) }}">{{ issue | renderissue | safe }}</a></td>
                        <td>{{ issue.updated | datetime }}</td>
                        <td>{{ issue.age }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
