{% extends "base.html" %}
{% block content %}
<h1 class="ui header">Edit Account </h1>
<form method="post" class="ui form">
    {{ form.csrf_token() }}
    <div class="field">
        <label>Name</label>
        {{ form.name }}
    </div>
    <button class="ui button" type="submit">Update Details</button>
</form>
{% endblock %}
